<div class="row" ng-controller="addchairsController">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="register-panel panel panel-default">
      <div class="panel-heading">Manage conference chairs</div>
      <div class="panel-body">
        <form role="form" ng-submit="submit()">
          <fieldset>
            <div class="form-group">
              <input type="text" ng-model="conf.title" class="form-control" placeholder="Title" ng-disabled="true" required="true" />
            </div>
			<div class="fixed-table-container">
				<table data-toggle="table" class="table table-hover">
					<thead>
						<tr>
							<th>Chairs Name</th>
						    <th>Action</th>
						</tr>
				    </thead>
					<tbody>
						<tr ng-repeat="user in conf.chairs">
							<td>{{user.name}}</td>
							<td><a href="" ng-click="delete(user.id)"><i class="fa fa-ban" aria-hidden="true"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
            <br>
			<input type="submit" value="Create conference" class="btn btn-primary" />
          </fieldset>
        </form>
		<br>
		<form role="form" ng-submit="search()">
			<div class="form-group">
              <input type="text" ng-model="user.field" class="form-control" placeholder="Search..." required="true" />
			  <br>
			  <input type="submit" value="Search for an user" class="btn btn-primary" />
            </div>
		</form>
      </div>
    </div>
  </div>
  <!-- /.col-->
</div>
<!-- /.row -->
