<div ng-controller="managepapersController">
	<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<div class="register-panel panel panel-default">
			<div class="panel-heading">
				<a href="#/conferences/chair">
					<svg class="glyph stroked arrow left">
						<use xlink:href="#stroked-arrow-left"/>
					</svg>
				</a>
				Manage papers
			</div>
			<div class="panel-body">
				<fieldset>
					<div class="form-group">
						<input type="text" ng-model="search.title" class="form-control"l   placeholder="Search..." required="true" />
					</div>
				</fieldset>
				<h4>Pending Papers:</h4>
				<i ng-if="conf.papers.pending.length == 0">No pending papers</i>
				<div ng-repeat="paper in conf.papers.pending |  filter: search.title" class="col-xs-12 panel-hv-green">
					<div class="panel panel-blue panel-widget panel-bg-grey">
						<div class="row no-padding">
							<a href="/#/view/{{paper.id}}">
								<div class="col-sm-2 widget-left">
									<svg class="glyph stroked blank document">
										<use xlink:href="#stroked-blank-document"/>
									</svg>
								</div>
							</a>
							<div class="col-sm-10">
								<h4><a href="/#/view/{{paper.id}}">{{paper.title}}</a></h4>
								<h5>Submitted on {{paper.createdAt | limitTo:10}} by {{paper.owner.name}}</h5>
								<hr/>
								<h5>
									Positive Reviews:
									<span ng-if="paper.r_accepted">{{paper.r_accepted}}</span>
									<span ng-if="!paper.r_accepted">0</span>
									&nbsp;-&nbsp; Negative Reviews:
									<span ng-if="paper.r_rejected">{{paper.r_rejected}}</span>
									<span ng-if="!paper.r_rejected">0</span>
								</h5>
								<h5>Pending Reviews: {{paper.reviewers.length - (paper.r_accepted+paper.r_rejected)}}</h5>
								<span ng-if="paper.reviewers.length - (paper.r_accepted+paper.r_rejected) == 0">
									<button class="btn btn-danger right" ng-click="reject(paper.id)">Reject</button>
									<button class="btn btn-success right" ng-click="accept(paper.id)">Accept</button>
									<br/>&nbsp;<br/>
								</span>
							</div>
						</div>
					</div>
				</div>
				<hr/>
				<h4>Accepted Papers:</h4>
				<i ng-if="conf.papers.accepted.length == 0">No accepted papers</i>
				<div ng-repeat="paper in conf.papers.accepted |  filter: search.title " class="col-xs-12 panel-hv-green">
					<div class="panel panel-blue panel-widget panel-bg-grey">
						<div class="row no-padding">
							<a href="/#/view/{{paper.id}}">
								<div class="col-sm-2 widget-left">
									<svg class="glyph stroked blank document">
										<use xlink:href="#stroked-blank-document"/>
									</svg>
								</div>
							</a>
							<div class="col-sm-10">
								<h4><a href="/#/view/{{paper.id}}">{{paper.title}}</a></h4>
								<h5>Submitted on {{paper.createdAt | limitTo:10}} by {{paper.owner.name}}</h5>
							</div>
						</div>
					</div>
				</div>
				<hr/>
				<h4>Rejected Papers:</h4>
				<i ng-if="conf.papers.rejected.length == 0">No rejected papers</i>
				<div ng-repeat="paper in conf.papers.rejected |  filter: search.title " class="col-xs-12 panel-hv-green">
					<div class="panel panel-blue panel-widget panel-bg-grey">
						<div class="row no-padding">
							<a href="/#/view/{{paper.id}}">
								<div class="col-sm-2 widget-left">
									<svg class="glyph stroked blank document">
										<use xlink:href="#stroked-blank-document"/>
									</svg>
								</div>
							</a>
							<div class="col-sm-10">
								<h4><a href="/#/view/{{paper.id}}">{{paper.title}}</a></h4>
								<h5>Submitted on {{paper.createdAt | limitTo:10}} by {{paper.owner.name}}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="view" style="display:none"></div>
</div>
