<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" ng-controller="selectconfController">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<svg class="glyph stroked eye">
					<use xlink:href="#stroked-eye"/>
				</svg>
				Search a conference</a>
			</li>
		</ol>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-3">
			<input type="text" ng-model="user.field" class="form-control" placeholder="Search..." required="true" />
		</div>
	</div>
	<br>
	<div class="row">
		<div ng-repeat="conference in conferences | filter: user.field" class="col-xs-12 col-md-6 col-lg-4">
			<div class="panel {{ conference.status == 2 ? 'panel-red' : 'panel-blue' }} panel-widget ">
				<div class="row no-padding">
					<a href="#/conference/{{conference.id}}">
						<div class="col-sm-2 widget-left">
							<svg class="glyph stroked two messages">
								<use xlink:href="#stroked-two-messages"/>
							</svg>
						</div>
					</a>
					<div class="col-sm-10">
						<a href="#/conference/{{conference.id}}">
							<h4>{{conference.title | limitTo: 20}} ({{ conference.acronym }})</h4>
						</a>
						<p ng-if="conference.status < 1"><a href="#/conferences/{{conference.id}}/addpaper">Send papers to this conference</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>