<div class="row" ng-controller="profileController">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="register-panel panel panel-default">
      <div class="panel-heading">My Profile</div>
      <form role="form" ng-submit="submit()">
	  <fieldset>
	  <div class="panel-body">
            <div class="form-group">
              <input type="text" ng-model="user.name" class="form-control" disabled="true" />
            </div>

            <div class="form-group">
              <select ng-model="user.sex" id="sex" disabled="true" class="form-control">
                <option value="Male">Male</option>
				<option value="Female">Female</option>
              </select>
            </div>
            <div class="form-group">
              <input type="email" ng-model="user.email" class="form-control" placeholder="E-mail" required="true" />
            </div>
		</div>
		<div class="panel-body">
			<div class="form-group">
              <input type="password" ng-model="user.newpassword" class="form-control" placeholder="New Password" />
            </div>
			<div class="form-group">
              <input type="password" ng-model="user.newpassword2" class="form-control" placeholder="Repeat New Password" />
            </div>
		</div>
		<div class="panel-body">
			<div class="form-group">
              <input type="password" ng-model="user.oldpassword" class="form-control" placeholder="Old Password" required="true" />
            </div>
            <input type="submit" value="Submit Changes" class="btn btn-primary" />
      </div>
	  </fieldset>
	  <form role="form" ng-submit="submit()">
    </div>
  </div>
  <!-- /.col-->
</div>
<!-- /.row -->
