.fnt{
	height: 1em !important;
	width: 1em !important;
	}
.right{
	float: right;
}
#view{
	height: 700px;
}
body{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	background-image: url("../images/logitech_konferenz.png");
	background-size: cover;
	background-repeat: no-repeat
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.lightbox-panel{
	margin-top: 15%;
}
.slide>.main{
	top: 50px;
	background-color: rgba(255,255,255,0.3);
}
.page{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0;
	height: calc(100%-50px);
	width: 100%;
}
.login-panel{
	margin-top: 30%;
}
.alertify-logs{
	z-index: 10000;
}

.register-panel{
	margin-top: 30%;
}
.navbar-login{
	background-color: rgba(34, 34, 34, 0.6);
}
.slide>.main {
		top: 0px;
    height: 100%;
    padding-top: 50px;
    background-color: rgba(255,255,255,0.3);
}
.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}

.panel-bg-grey{
	box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
	background-color: #F5F5F5;
	transition: all .5s;
}
.panel-bg-grey:hover{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
	transition: all .5s;
}
.panel-bg-grey:hover button{
	box-shadow: 0 10px 10px 0 rgba(0,0,0,.19), 0 6px 3px 0 rgba(0,0,0,.23);
	transition: all .5s;
}


.clickable{
	cursor: pointer;
}
