
<!DOCTYPE html>
<html ng-app="easyrashApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>EasyRash</title>

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<link href="templates/lumino/css/bootstrap.min.css" rel="stylesheet">
<link href="templates/lumino/css/datepicker3.css" rel="stylesheet">
<link href="templates/lumino/css/styles.css" rel="stylesheet">
<link href="js/dependencies/alertify.js-master/dist/css/alertify.css" rel="stylesheet" id="alertifyCSS">
<link href="/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">


<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<script>
	var _URL = "http://17490.s.time4vps.eu:1337/";
</script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-route/angular-route.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/angular-file-upload/dist/angular-file-upload.min.js"></script>
<script src="https://code.angularjs.org/1.5.8/angular-animate.min.js"></script>

<script src="node_modules/js-md5/build/md5.min.js"></script>


<script src="templates/lumino/js/lumino.glyphs.js"></script>
<script src="templates/lumino/js/jquery-1.11.1.min.js"></script>
<script src="js/dependencies/alertify.js-master/dist/js/alertify.js"></script>

<script src="app.js"></script>
<script src="login/login.component.js"></script>
<script src="login/forgot.component.js"></script>
<script src="login/reset.component.js"></script>
<script src="register/register.component.js"></script>
<script src="login/logout.component.js"></script>
<script src="home/home.controller.js"></script>
<script src="conferences/conference.controller.js"></script>
<script src="conferences/chair.controller.js"></script>
<script src="conferences/newconf.controller.js"></script>
<script src="conferences/addchairs.controller.js"></script>
<script src="conferences/select.controller.js"></script>
<script src="conferences/changestatus.controller.js"></script>
<script src="conferences/managepapers.controller.js"></script>
<script src="papers/papers.controller.js"></script>
<script src="papers/addpapers.controller.js"></script>
<script src="view/view.controller.js"></script>

</head>

<body>
	<input type='hidden' name='_csrf' value='<%= _csrf %>'>

	<nav class="navbar navbar-inverse navbar-fixed-top navbar-login" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a ng-if="user" class="navbar-brand" href="#/home"><span>Easy</span>Rash</a>
				<a ng-if="!user" class="navbar-brand" href="#/"><span>Easy</span>Rash</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> {{user.name}}<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-if="user"><a href="#profile"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
							<li ng-if="user"><a href="#logout"><svg class="glyph stroked lock"><use xlink:href="#stroked-lock"/></svg> Logout</a></li>
							<li ng-if="!user"><a href="#login"><svg class="glyph stroked lock"><use xlink:href="#stroked-lock"/></svg> Login</a></li>
							<li ng-if="!user"><a href="#register"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"/></svg> Sign Up</a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div><!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar collapse in">
		<ul class="nav menu">
			<li ng-if="user"><a href="#home"><svg class="glyph stroked home"><use xlink:href="#stroked-home"/></use></svg> Dashboard</a></li>
			<li ng-if="user" class="parent "><a href=""><span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked empty message"><use xlink:href="#stroked-empty-message"/></svg> Conferences</span></a>
				<ul class="children collapse" id="sub-item-1">
					<li><a href="#/conferences/chair"><svg class="glyph stroked round coffee mug"><use xlink:href="#stroked-round-coffee-mug"/></svg> Chair conferences</a></li>
					<li><a href="#/conferences/author"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"/></svg> Author conferences</a></li>
					<li><a href="#/conferences/reviewer"><svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg> Reviewer conferences</a></li>
					<li><a href="#/conferences"><svg class="glyph stroked eye"><use xlink:href="#stroked-eye"/></svg> Search for a conference</a></li>
				</ul>
			</li>
			<li ng-if="user"><a href="#papers"><svg class="glyph stroked blank document"><use xlink:href="#stroked-blank-document"/></svg> Papers</a></li>
			<li ng-if="user"><a href="#profile"><svg class="glyph stroked male-user"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
			<li role="presentation" class="divider"></li>
			<li ng-if="user"><a href="#logout"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"/></svg> Logout</a></li>
			<li ng-if="!user"><a href="#login"><svg class="glyph stroked lock"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-lock"></use></svg> Login</a></li>
			<li ng-if="!user"><a href="#register"><svg class="glyph stroked pencil"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-pencil"></use></svg> Sign Up</a></li>
		</ul>

	</div>


			<div ng-view class="slide page"></div>





	<script src="templates/lumino/js/bootstrap.min.js"></script>
	<script src="templates/lumino/js/chart.min.js"></script>
	<script src="templates/lumino/js/chart-data.js"></script>
	<script src="templates/lumino/js/easypiechart.js"></script>
	<script src="templates/lumino/js/bootstrap-datepicker.js"></script>
	<script src="templates/lumino/js/easypiechart-data.js"></script>

</body>

</html>
