<div class="row" ng-controller="addauthorsController">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="lightbox-panel panel panel-default">
      <div class="panel-heading">
        <a href="#papers"><svg class="glyph stroked arrow left"><use xlink:href="#stroked-arrow-left"/></svg></a> Add authors to <a>{{paper.title}}</a>: </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <h2>Authors:</h2>
            <ul class="nav nav-pills">
              <li>
                <h4>Current authors:&nbsp;</h4> </li>
              <li class="active"><a>{{user.name}}</a></li>
              <li ng-repeat="u in co_authors" class="active" ng-click="remove(u)">
                <a style="cursor:pointer">{{u.name}} <i class="fa fa-times" aria-hidden="true"></i></a>
              </li>
            </ul>
            <br/>
            <div class="col-sm-12">
              <label>Add others paper's authors:</label>
              <input type="text" ng-model-options="{ debounce: 500 }" ng-model="user.field" class="form-control" placeholder="Search users..." required="true" />
              <div ng-show="users.length">
                <ul class="list-group">
                  <li ng-repeat="u in users | limitTo: 5" class="row list-group-item">
                    <div class="col-sm-5">{{u.name}}</div>
                    <div class="col-sm-5">{{u.email}}</div>
                    <div class="col-sm-2"><a href="" ng-click="add(u)">add <i class="fa fa-plus" aria-hidden="true" title="add"></i></a></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.col-->
</div>
<!-- /.row -->
