<div class="row" ng-controller="addpapersController">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="lightbox-panel panel panel-default">
      <div class="panel-heading">
        <a href="#papers"><svg class="glyph stroked arrow left"><use xlink:href="#stroked-arrow-left"/></svg></a> Add paper to conference: </div>
      <div class="panel-body">
        <form role="form" ng-submit="submit()">
          <fieldset>
            <div class="form-group">
              <input type="text" ng-model="search.title" class="form-control" placeholder="Title" required="true" />
            </div>
            <input type="submit" value="Search" class="btn btn-primary" />
          </fieldset>
        </form>
        <hr/>
        <div class="row">
          <div ng-repeat="file in files" class="col-xs-offset-1 col-xs-10 col-md-4 col-lg-4 ">
            <div class="panel panel-blue panel-widget panel-bg-grey">
              <div class="row no-padding">
                <div class="col-sm-2 widget-left">
                  <svg class="glyph stroked blank document"><use xlink:href="#stroked-blank-document"/></svg>
                </div>
                <div class="col-sm-10">
                  <h4>{{file.title}}</h4>
                  <p>{{file.createdAt | limitTo:10}}</p>
                  <hr/>
                </div>
              </div>
              <div class="row no-padding">
                <div class="col-sm-12">
                  <p>- Subscribed to:</p>
                </div>
              </div>
              <div class="row no-padding">
                <div class="col-sm-12">
                  <h4>{{file.title}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-->
</div>
<!-- /.row -->
