<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" ng-controller="papersController">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<svg class="glyph stroked blank document">
					<use xlink:href="#stroked-blank-document"/>
				</svg>
				Papers
			</li>
		</ol>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-11 col-md-4">
			<input type="text" ng-model="filter.name" class="form-control" placeholder="Search..." required="true" />
		</div>
		<div class="col-xs-12 col-md-8">
			<span class="btn-group dropdown">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="page-size">Order by: {{filter.orderBy}}</span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a ng-click="filter.orderBy = 'title'">title</a></li>
					<li><a ng-click="filter.orderBy = 'conference.id'">conference</a></li>
					<li><a ng-click="filter.orderBy = 'date'">date</a></li>
				</ul>
			</span>
			<div class="columns btn-group">
				<label class="btn btn-default"> accepted
				<input type="checkbox" ng-model="filter.accepted">
				</label>
				<label class="btn btn-default"> pending
				<input type="checkbox" ng-model="filter.pending">
				</label>
				<label class="btn btn-default"> rejected
				<input type="checkbox" ng-model="filter.rejected">
				</label>
			</div>
			<button class="btn btn-default pull-right {{settings? 'btn-warning':''}}" title="settings" ng-click="settings = !settings"><i class="fa fa-wrench" aria-hidden="true"></i></button>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div ng-repeat="paper in user.papers | filter: filterCheckBox| filter: filter.name | orderBy: '+'+filter.orderBy " class="col-xs-12 col-md-6 col-lg-4">
			<div class="panel panel-blue panel-widget ">
				<div class="row no-padding">
					<a href="#/view/{{paper.id}}">
						<div class="col-sm-2 widget-left">
							<svg class="glyph stroked blank document">
								<use xlink:href="#stroked-blank-document"/>
							</svg>
						</div>
					</a>
					<div class="col-sm-10">
						<a href="#/view/{{paper.id}}">
							<h4>{{paper.title}}</h4>
						</a>
						<h4><a href="#/conference/{{paper.conference.id}}">conference: {{paper.conference.title}} ({{paper.conference.acronym}})</a></h4>
						<div class="right" ng-show="settings">
							<button class="btn btn-default" style="margin-right:.5em" title="view paper"><a href="#/view/{{paper.id}}"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
							</button>
							<a href="#/paper/{{paper.id}}/addauthors"><button class="btn btn-info" title="authors"><i class="fa fa-users" aria-hidden="true"></i></button></a>
							<button class="btn btn-danger" title="delete paper" ng-click="deletePaper(paper.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
				<div class="row no-padding">
					<div class="col-sm-12">
						<h5>status: <i>{{status(paper.status) }}</i></h5>
						<h5>date: {{paper.createdAt | limitTo:10}}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
