<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" ng-controller="viewController">
	<div class="row">
		<ol class="breadcrumb">
			<li><svg class="glyph stroked blank document"><use xlink:href="#stroked-blank-document"/></svg> Paper : <b>{{paper.file.title}}</b></li>
		</ol>
	</div>
	<!--/.row-->

	<br>

	<div class="panel panel-primary chat col-sm-12 col-md-8">
		<div class="panel-heading"><svg class="glyph stroked two-messages"><use xlink:href="#stroked-blank-document"/></svg> {{paper.file.title}}</div>
			<div class="panel-body" id="view" ng-mouseup="select()"></div>
		<div class="panel-footer">
			<div class="input-group">
				<input id="btn-input" type="text" class="form-control input-md" placeholder="Type your message here...">
				<span class="input-group-btn">
								<button class="btn btn-success btn-md" id="btn-chat">Send</button>
							</span>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading"><svg class="glyph stroked pencil"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-pencil"></use></svg> Authors</div>
			<div class="panel-body">
			<div class="fixed-table-container">
				<table data-toggle="table" class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
								<th>Email</th>
						</tr>
						</thead>
					<tbody>
						<tr ng-repeat="user in paper.author">
							<td>{{user.name}}</td>
							<td>{{user.email}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-4">
		<code>Selected: (work in progress...)</code><br/>
		<code>{{highlighted.text | json}}</code>
	</div>

</div>
<!--/.row-->

</div>
