<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" ng-controller="viewController">
	<div class="row">
		<ol class="breadcrumb">
			<li><svg class="glyph stroked blank document"><use xlink:href="#stroked-blank-document"/></svg> Conference : <b>{{paper.conference.title}} ({{paper.conference.acronym}})</b></li>
		</ol>
	</div>
	<!--/.row-->

	<br>

	<div class="panel panel-primary chat col-sm-12 col-md-8">
		<div class="panel-heading"><svg class="glyph stroked two-messages"><use xlink:href="#stroked-blank-document"/></svg> {{paper.title}}</div>
		<div class="panel-body" id="view" ng-mouseup="select()"></div>
		<div class="panel-footer">
			<div class="input-group">
				<input id="btn-input" type="text" class="form-control input-md" placeholder="Type your message here...">
				<span class="input-group-btn">
								<button class="btn btn-success btn-md" id="btn-chat">Send</button>
							</span>
			</div>
		</div>
	</div>

	<div ng-hide="highlight.active" ng-click="highlight.active= !highlight.active" class="col-sm-12 col-md-4 col-lg-3" style="cursor:pointer">
		<div class="panel panel-blue panel-widget">
			<div class="row no-padding">
				<div class="col-sm-3 col-lg-5 widget-left">
					<svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>
				</div>
				<div class="col-sm-9 col-lg-7 widget-right" style="background-color:#263238">
					<div class="large add-review" style="color:white">add review</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="highlight.active" class="col-sm-12 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading"><svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg> Review
				<a href="" ng-click="highlight.active= !highlight.active" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<div class="row">
						<div class="col-sm-12">
							<h4>Selected text:</h4>
							<div class="highlight-text">
								{{highlight.text}}
							</div>
						</div>
					</div>
					<textarea class="form-control" rows="3"></textarea>
					<br/>
					<button ng-click="undo_rew()" class="btn btn-primary pull-right" id="restart_rew"><i class="fa fa-undo" aria-hidden="true"></i> restart</button>
					<button ng-click="undo_rew()" class="btn btn-success"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Save</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading"><svg class="glyph stroked pencil"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-pencil"></use></svg> Authors</div>
			<div class="panel-body">
				<div class="fixed-table-container">
					<table data-toggle="table" class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in paper.author">
								<td>{{user.name}}</td>
								<td>{{user.email}}</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-4">
		<code>Selected: (work in progress...)</code><br/>
		<code>{{highlight | json}}</code>
	</div>

</div>

<div class="tooltip_templates">
	<span id="tooltip_content">
			<div class="list-group">
				<a href="#" class="list-group-item">Author 1</a>
				<a href="#" class="list-group-item list-group-item-action">Author 2</a>
				<a href="#" class="list-group-item list-group-item-action">Author 3</a>
			</div>
    </span>
</div>
<!--/.row-->

</div>
